label(title="français") Français&nbsp;&nbsp;&nbsp;&nbsp;
textarea(name="francaisArea")
 | !{data.francaisArea}
br
br
label(title="encodage") Encodage&nbsp
textarea(name="encodageArea")
 | !{data.encodageArea}